.coffee-listing {
  min-height: 100vh;
  background-color: #111315;
  background-image: url('./assets/bg-cafe-sm.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 150px;
  padding: 5rem 0 3rem;
}

.coffee-listing__panel {
  background-color: #1b1d1f;
  background-image: url('./assets/vector.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 2.5rem) 2.5rem;
  border-radius: 1rem;
}

@media (min-width: 640px) {
  .coffee-listing {
    background-image: url('./assets/bg-cafe.jpg');
    background-size: auto 300px;
    padding-top: 10rem;
  }
}

@media (min-width: 1280px) {
  .coffee-listing {
    background-image: url('./assets/bg-cafe-lg.jpg');
    background-size: auto 450px;
  }
}